/*
    ==============================================
                ****** RESET ******
    ==============================================
*/
:root {
  --color-red: #f42;
  --bg-color-red: #f42;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

a {
  text-decoration: none;
  color: #000;
}

html {
  scroll-behavior: smooth;
  font-family: 'Didact Gothic', sans-serif;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

/*
    ==============================================
                ****** MOBILE FIRST DESIGN ******
    ==============================================
*/

.nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 15vh;
  background-color: rgb(201, 64, 64);
  color: rgb(238, 230, 230);
  z-index: 12;
}

.logo-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7.5vh;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  height: 10vh;
  width: 60%;
  margin: 0 auto;
  align-items: center;
}

.nav .fas {
  color: rgb(238, 230, 230);
}

.landing-image {
  position: relative;
  background-image: url(../assets/dark-gunner.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.9;
  height: 85vh;
  margin-top: 15vh;
  width: 100%;
}

.landing-text {
  position: absolute;
  top: 30%;
  z-index: 3;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landing-text h2 {
  color: rgb(238, 230, 230);
  padding: 0.5rem;
  font-size: 1.1rem;
  font-weight: bolder;
  text-align: center;
}

.landing-form {
  display: block;
  background-color: rgba(204, 204, 204, 0.548);
  width: 98%;
  margin: 0 auto;
  border-radius: 1.2rem;
}

.search-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 1rem 0.5rem;
}

.search-form label {
  font-weight: bold;
}

.form-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

input[type=text],
.search-form label,
.landing-button {
  margin: 0.3rem 0;
  padding: 0.3rem;
}

.landing-button {
  background-color: rgb(201, 64, 64);
  color: rgb(238, 230, 230);
  width: 100%;
}

.walkthrough {
  display: inline-block;
  margin: 10vh 40vw 18vh 30vw;
  padding: 0.8rem;
  background-color: rgba(204, 204, 204, 0.548);
  white-space: nowrap;
}

.work-header h3 {
  color: rgb(201, 64, 64);
  text-align: center;
  padding: 0.8rem;
}

.work-items {
  display: grid;
  grid-template-columns: 1fr;
}

.item-text h4,
.item-text p {
  padding: 0.5rem;
  margin: 0.5rem;
  text-align: center;
}

.item p {
  color: #888;
}

.item-icon {
  display: flex;
  justify-content: center;
}

/* EXAMPLE SECTION */
.examples {
  width: 100%;
}

.example-1 {
  background-color: rgb(228, 125, 40);
}

.example-2 {
  background-color: rgb(103, 114, 117);
}

.example-3 {
  background-color: rgb(90, 149, 236);
}

.article-example {
  width: 100%;
  padding: 1rem 0.5rem;
}

.article-example-container {
  width: 80%;
  margin: 5% auto;
  display: flex;
  flex-direction: column;
}

.article-image {
  width: 60%;
  margin: 0 auto;
}

.article-image img {
  border-radius: 50%;
  margin: 0.5rem;
}

.example-3 img {
  border-radius: 10%;
}

.example-1 a {
  color: rgb(228, 125, 40);
}

.example-2 a {
  color: rgb(103, 114, 117);
}

.example-3 a {
  color: rgb(90, 149, 236);
}

.article-text h4 {
  font-weight: bold;
  font-size: 1.5rem;
}

.article-text h4,
.article-text p {
  text-align: center;
  color: #fff;
  padding: 0.5rem;
  margin: 0.3rem;
}

.article-text a {
  background-color: #fff;
  padding: 0.5rem;
  text-align: center;
  margin: 0.5rem;
}

.link {
  display: flex;
  justify-content: center;
}

/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  background-color: #000;
  width: 100%;
}

.footer-nav .row-1 {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer-nav a,
.footer-nav .fas {
  color: #fff;
}

.footer-nav a {
  font-size: 0.8rem;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.8rem;
}

.logo .fas {
  border: 1px solid rgba(136, 136, 136, 0.336);
  border-radius: 50%;
  padding: 0.5rem;
}

.links-1,
.links-2 {
  border-top: 1px solid rgba(136, 136, 136, 0.336);
  border-bottom: 1px solid rgba(136, 136, 136, 0.336);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.9rem;
  margin: 0.9rem 0;
  width: 100%;
}

.links-1 a,
.links-2 a {
  font-weight: bold;
}

.subscribe {
  width: 60%;
  margin: 5% auto;
  text-align: center;
}

.row-2 h6 {
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
}

.row-2 p {
  color: #fff;
  font-size: 0.6rem;
  text-align: center;
}

.subscribe-form input[type=text] {
  background-color: #000;
  color: #888;
}

.subscribe-form button {
  padding: 0.5rem;
  background-color: #888;
}

.footer-bottom-container {
  display: flex;
  background-color: rgb(54, 52, 52);
  height: 10vh;
  width: 100%;
}

.footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(54, 52, 52);
  height: 10vh;
  width: 100%;
}

.right-bottom {
  background-color: rgb(54, 52, 52);
  color: #fff;
}

.right-bottom p {
  font-size: 0.7rem;
  margin: 0.9rem;
  padding: 0.5rem;
}

.footer-bottom a {
  padding: 0.5rem;
  margin: 0.5rem;
}

.footer-nav a:hover {
  color: rgb(201, 64, 64);
}

/* SEARCH PAGE 2 */

.search-container {
  margin-top: 15vh;
  background-color: rgb(245, 245, 245);
}

.sub-heading h4 {
  color: #888;
  text-align: center;
  padding: 0.8rem;
}

.search-page-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0.9rem;
}

.search-page-form button {
  padding: 0.5rem;
  margin: 0.5rem;
  color: #fff;
  border-radius: 2%;
  border: none;
}

.search-page-btn {
  background-color: rgb(90, 149, 236);
}

.clear-btn {
  background-color: rgb(230, 156, 59);
}

.search-page-form label {
  font-weight: bolder;
  padding: 0.3rem;
}

.results h4 {
  text-align: center;
  padding: 0.5rem;
  margin: 0.5rem;
}

.result-grid {
  display: grid;
  width: 90%;
  margin: 0 auto;
  grid-template-columns: 1fr;
}

.grid-item {
  margin-bottom: 6%;
}

.grid-item h6 {
  font-size: 1.5rem;
}

.grid-item p {
  color: #888;
}

.grid-item h6,
.grid-item p {
  text-align: center;
  padding: 0.2rem;
  margin: 0.2rem;
}

.former-price {
  text-decoration: line-through;
  color: rgb(201, 64, 64);
  font-size: 0.8rem;
}

/* SEARCH DETAILS PAGE */
.details {
  margin-top: 15vh;
}

.detail-header {
  margin: 0.5rem;
  padding: 1rem;
  border-bottom: 1px solid #888;
}

.detail-text p {
  padding: 0.2rem;
  margin: 0.2rem;
  text-align: justify;
}

.detail-container {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
}

.hide {
  display: none;
  color: rgb(238, 230, 230);
  padding: 0.5rem;
  margin: 0.5rem;
}

.footer-hide {
  display: none;
}

/* google map */
.location-map {
  position: relative;
  overflow: hidden;
  padding-bottom: 56.25%;
  height: 0;
}

.location-map iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/*
    ==============================================
                ****** MEDIA QUERIES TABLET ******
    ==============================================
*/
@media only screen and (min-width: 768px) {
  .nav {
    flex-direction: row;
    height: 10vh;
  }

  .logo-div {
    margin: auto;
    padding-left: 5%;
  }

  .landing-image {
    margin-top: 10vh;
    height: 60vh;
  }

  .landing-form {
    width: 70%;
    margin: 0 auto;
  }

  .text-heading {
    width: 70%;
    margin: 0 auto;
  }

  .form-container {
    display: flex;
    flex-direction: row;
  }

  .search-form input[type=text] {
    display: inline-block;
    width: 80%;
    margin: 0.1rem 0.3rem;
  }

  .contact a {
    font-size: 0.5rem;
    color: rgb(201, 64, 64);
  }

  .search-form a {
    display: inline-block;
    width: 20%;
    margin: 0.1rem 0.3rem;
  }

  .walkthrough {
    margin-top: 5vh;
  }

  .work {
    padding: 3.2rem;
  }

  .work-items {
    grid-template-columns: 1fr 1fr;
    grid-gap: 5%;
  }

  .article-example-container {
    flex-direction: row;
  }

  .article-text h4,
  .article-text p {
    text-align: left;
  }

  .footer-nav .row-1 {
    flex-direction: row;
  }

  .link {
    justify-content: start;
  }

  .link a {
    margin-left: 3%;
  }

  .logo {
    margin: 0;
  }

  .logo .fas {
    padding: 1.2rem;
  }

  .footer-hide {
    display: block;
  }

  .row-2 {
    display: flex;
    width: 100%;
  }

  .subscribe {
    width: 45%;
    margin: 0.5rem;
  }

  .contact,
  .about {
    width: 25%;
    margin: 0.5rem;
  }

  .subscribe-form {
    width: 80%;
    margin: auto;
  }

  .contact {
    text-align: center;
  }

  .red-p {
    color: rgb(201, 64, 64);
  }

  .footer-bottom {
    justify-content: start;
    width: 40%;
  }

  /* Tablet view for Search Page */
  .result-grid {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2%;
  }

  /* Tablet view for Search details Page */
  .details {
    margin-top: 10vh;
  }

  .detail-container {
    flex-direction: row;
    padding: 2rem;
  }

  .detail-text {
    width: 70%;
  }

  .detail-img {
    width: 30%;
    margin-top: 0.5rem;
  }
}

/*
    ==============================================
                ****** MEDIA QUERIES LAPTOP ******
    ==============================================
*/

@media only screen and (min-width: 1024px) {
  .hide {
    display: inline-block;
  }

  .link a {
    margin-left: 2%;
  }

  .search-page-form {
    flex-direction: row;
  }

  .search-page-form input[type=text] {
    height: 3vh;
    width: 12vw;
    margin-right: 0.5rem;
  }

  .search-page-form button {
    margin: 0.1rem;
  }

  .result-grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1%;
  }
}
