/*
    ==============================================
                ****** RESET ******
    ==============================================
*/
:root {
  --color-red: #f42;
  --bg-color-red: #f42;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

a {
  text-decoration: none;
  color: #000;
}

html {
  scroll-behavior: smooth;
  font-family: 'Didact Gothic', sans-serif;
}

img {
  display: block;
  width: 100%;
}

/*
    ==============================================
                ****** MOBILE FIRST DESIGN ******
    ==============================================
*/

.nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 15vh;
  background-color: rgb(201, 64, 64);
  color: rgb(238, 230, 230);
  z-index: 12;
}

.logo-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7.5vh;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  height: 10vh;
  width: 60%;
  margin: 0 auto;
  align-items: center;
}

.nav .fas {
  color: rgb(238, 230, 230);
}

#landing-image {
  position: relative;
  background-image: url(../assets/dark-gunner.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.9;
  height: 85vh;
  margin-top: 15vh;
  width: 100%;
}

#landing-text {
  position: absolute;
  top: 30%;
  z-index: 3;
}

#landing-text h2 {
  color: rgb(238, 230, 230);
  padding: 0.5rem;
  font-weight: bold;
}

.landing-form {
  display: block;
  height: 15vh;
  background-color: rgba(204, 204, 204, 0.548);
  width: 98%;
  margin: 0 auto;
  border-radius: 1.2rem;
}

#search-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 12vh;
  padding: 0.5rem;
}

#search-form label {
  font-weight: bold;
}

input[type=text],
#search-form label,
.landing-button {
  margin: 0.1rem;
  padding: 0.3rem;
}

.landing-button {
  background-color: rgb(201, 64, 64);
  color: rgb(238, 230, 230);
  width: 100%;
}

.walkthrough {
  display: inline-block;
  margin: 10vh 40vw 18vh 30vw;
  padding: 0.5rem;
  background-color: rgba(204, 204, 204, 0.548);
}

#work {
  height: 85vh;
}

.work-header h3 {
  color: rgb(201, 64, 64);
  text-align: center;
  padding: 0.8rem;
}

.work-items {
  display: grid;
  grid-template-columns: 1fr;
}

.item-text h4,
.item-text p {
  padding: 0.5rem;
  margin: 0.5rem;
  text-align: center;
}

.item p {
  color: #888;
}

.item-icon {
  display: flex;
  justify-content: center;
}

/* EXAMPLE SECTION */
.examples {
  width: 100%;
}

#example-1 {
  background-color: rgb(228, 125, 40);
}

#example-2 {
  background-color: rgb(103, 114, 117);
}

#example-3 {
  background-color: rgb(90, 149, 236);
}

.article-example {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem 1rem;
}

.article-image {
  width: 40%;
  margin: 0 auto;
}

.article-image img {
  border-radius: 50%;
  margin: 0.5rem;
}

#example-3 img {
  border-radius: 10%;
}

.article-text h4 {
  font-weight: bold;
  font-size: 1.5rem;
}

.article-text h4,
.article-text p {
  text-align: center;
  color: #fff;
  padding: 0.5rem;
  margin: 0.3rem;
}

.article-text a {
  background-color: #fff;
  padding: 0.5rem;
  text-align: center;
  margin: 0.5rem;
}

.link {
  display: flex;
  justify-content: center;
}

/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  background-color: #000;
  width: 100%;
}

.footer-row-1 {
  display: flex;
}

.footer-nav a,
.footer-nav .fas {
  color: #fff;
}

.footer-nav a {
  font-size: 0.8rem;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.8rem;
}

.logo .fas {
  border: 1px solid #888;
  border-radius: 50%;
  padding: 0.5rem;
}

.links-1,
.links-2 {
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.9rem;
  margin: 0.9rem;
}

.subscribe {
  width: 60%;
  margin: 5% auto;
}

.subscribe p {
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
}

#subscribe-form input[type=text] {
  background-color: #000;
  color: #888;
}

#subscribe-form button {
  padding: 0.5rem;
  background-color: #888;
}

.footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(54, 52, 52);
  height: 10vh;
}

.footer-bottom a {
  padding: 0.5rem;
  margin: 0.5rem;
}

.footer-nav a:hover {
  color: rgb(201, 64, 64);
}

#example-1 a {
  color: rgb(228, 125, 40);
}

#example-2 a {
  color: rgb(103, 114, 117);
}

#example-3 a {
  color: rgb(90, 149, 236);
}

/* SEARCH PAGE 2 */

.search-container {
  margin-top: 15vh;
  background-color: rgb(245, 245, 245);
}

.sub-heading h4 {
  color: #888;
  text-align: center;
  padding: 0.8rem;
}

#search-page-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0.5rem;
}

#search-page-form button {
  padding: 0.5rem;
  margin: 0.5rem;
  color: #fff;
  border-radius: 2%;
  border: none;
}

.search-page-btn {
  background-color: rgb(90, 149, 236);
}

.clear-btn {
  background-color: rgb(230, 156, 59);
}

#search-page-form label {
  font-weight: bolder;
  padding: 0.3rem;
}

.results h4 {
  text-align: center;
  padding: 0.5rem;
  margin: 0.5rem;
}

.result-grid {
  display: grid;
  grid-template-columns: 1fr;
}

.grid-item h6 {
  font-size: 1.5rem;
}

.grid-item p {
  color: #888;
}

.grid-item h6,
.grid-item p {
  text-align: center;
  padding: 0.2rem;
  margin: 0.2rem;
}

.former-price {
  text-decoration: line-through;
  color: rgb(201, 64, 64);
  font-size: 0.8rem;
}

/* SEARCH DETAILS PAGE */
.details {
  margin-top: 15vh;
}

.detail-header {
  margin: 0.5rem;
  padding: 0.5rem;
  border-bottom: 1px solid #888;
}

.detail-text p {
  padding: 0.2rem;
  margin: 0.2rem;
}

.detail-container {
  display: flex;
  flex-direction: column;
}
